@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./components/main-layout/footer.css");
@import url("./components/main-layout/header.css");
@import url("./components/basic-elements/basic-modal.css");
@import url("./components/navigation-button.css");
@import url("./components/basic-elements/button.css");
@import url("./components/basic-elements/title.css");
@import url("./pages/about/company-chrono.css");

:root {
  /* Main Color palette*/
  --neutral-color-primary: #262625;
  --neutral-color-contrast: #f2f2f2;
  --neutral-color-gray: #bfbfbf;
  --page-bg-color: #fbf8f8;
  --primary-element: #FF3E21;
  --secondary-element: #C8381E;
  --element-gained-focus: #FF5100;
  --link-color: #139df2;
  --confirmation-green-color: #49F054;

  /*Layout variables*/
  --layout-bg-color: var(--neutral-color-primary);
  --layout-text-color: var(--neutral-color-contrast);
}

body,
html,
#root {
  height: 100%;
  overflow: auto;
  background-color: var(--page-bg-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-color-primary);
  scrollbar-color: var(--secondary-element) var(--neutral-color-primary);
}

::-moz-selection { /* Code for Firefox */
  color:  var(--element-gained-focus);
  background: var(--neutral-color-primary);
}

::selection {
  color: var(--element-gained-focus);
  background: var(--neutral-color-primary);
}

/* ---- Variable colors ---- */
.bg-primary-element {
  background-color: var(--primary-element);
}

.bg-neutral-color-primary {
  background-color: var(--neutral-color-primary);
}

.bg-page-bg-color {
  background-color: var(--page-bg-color);
}

.font-rubik-mono-one {
  font-family: "Rubik Mono One", "Segoe UI", "Roboto";
}

.text-neutral-color-contrast {
  color: var(--neutral-color-contrast);
}

.text-primary-element {
  color: var(--primary-element);
}

.text-link-color {
  color: var(--link-color);
}

.text-shadow-neutral-color-primary {
  text-shadow: 1px 1px 1px var(--neutral-color-primary),
    -1px -1px 1px var(--neutral-color-primary);
}

.text-shadow-neutral-color-primary-title {
  text-shadow: -3px 1px 0px var(--neutral-color-primary);
}

.border-neutral-color-contrast {
  border: 3px var(--neutral-color-contrast) solid;
}

.border-neutral-color {
  border: 3px var(--neutral-color-primary) solid;
}

.border-neutral-color-primary {
  border: 3px var(--neutral-color-primary) solid;
}

.shadow-neutral-color-gray {
  box-shadow: 0px 0px 10px var(--neutral-color-gray);
}

.shadow-element-gained-focus {
  box-shadow: 0px 0px 10px var(--element-gained-focus);
}

.hover\:border-element-gained-focus:hover {
  border-color: var(--element-gained-focus);
}

.hover\:text-neutral-primary:hover {
  color: var(--neutral-color-primary);
}

.hover\:text-element-gained-focus:hover {
  color: var(--element-gained-focus);
}

.hover\:bg-primary-element:hover {
  background-color: var(--primary-element);
}

.hover\:text-shadow-secondary-element:hover {
  box-shadow: 0px 1px 10px var(--secondary-element);
}

.hover\:shadow-element-gained-focus:hover {
  box-shadow: 0px 0px 10px var(--element-gained-focus);
}

.border-b-neutral-color-primary {
  border-color: var(--neutral-color-primary);
}

.border-b-primary-element {
  border-bottom-color: var(--primary-element);
}

.focus\:border-b-primary-element:focus {
  border-color: var(--element-gained-focus);
}

.hover\:picture:hover{
  cursor: pointer;
  transform: scale(1.25);  
  transition: all ease 0.5s;
  transform-origin: center;
}

.hover\:carousel-nav-button:hover {
  background-color: var(--primary-element) !important;
  opacity: 1 !important;
}

.active\:scale-90:active {
  scale: 0.90
}

.picture-shadow {
  filter: drop-shadow(
    0 0 10px rgba(0,0,0, 0.8)
  )
}

.picture-shadow-light {
  filter: drop-shadow(
    0 0 10px rgba(0,0,0, 0.3)
  )
}

.picture-shadow-light-sm {
  filter: drop-shadow(
    0 0 2px rgba(0,0,0, 0.3)
  )
}

/* ------------------------------ ANIMATIONS -------------------- */
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.animate-on-scroll {
  view-timeline-name: --revealing-image;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --revealing-image;
  animation-range: entry 5% cover 15%;
}

.main-button {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  border-radius: 8px;
}

.hover\:main-button:hover {
  background-color: var(--neutral-color-primary);
}

.hover\:main-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(52,0,0,1), var(--primary-element), rgb(185, 68, 0), #ff5c19, var(--primary-element),
    rgba(52,0,0,1), var(--primary-element),rgb(185, 68, 0), #ff5c19, var(--primary-element)
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(12px);
  animation: glowing 20s ease infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}