@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./components/main-layout/footer.css");
@import url("./components/main-layout/header.css");

:root {
  /*Layout variables*/
  --layout-bg-color: black;
  --layout-text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
