.layout-header {
  position: absolute;
  top: 0;
  z-index: 999 !important;
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: var(--layout-bg-color);
  color: var(--layout-text-color);
}


@media (370px < width < 640px) { /*Tailwind sm responsive size*/
  .layout-header {
    flex-direction: row-reverse;
  }
}

@media (min-width: 640px) { /*Tailwind sm responsive size*/
  .layout-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
}

/* at 370px the logo appears; at 640px the telephone appears*/
@media (max-width: 370px) { 
  .header-buttons {
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (370px < width < 640px) { 
  .header-buttons {
    gap: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: 640px) { 
  .header-buttons {
    gap: 0.5rem;
  }
}