.layout-header {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;

  background-color: var(--layout-bg-color);
  color: var(--layout-text-color);
}
