.logo {
  padding: 0.5rem;

  font-family: Arial, sans-serif;
  font-size: inherit;
  font-weight: bold;
  color: var(--neutral-color-contrast);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
